header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 12px 0;

    & .header-left-nav nav, .header-right-nav nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    & .header-left-nav nav a::after, .header-right-nav nav a:first-child::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        margin: 3px 0 0 10px;
        background-image: url(../icons/header/down-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    & .header-right-nav nav .search::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: 0 0 0 10px;
        background-image: url(../icons/header/magnifying-glass.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .header-right-nav nav .buy::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: 0 0 0 10px;
        background-image: url(../icons/header/buy-car.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .header-right-nav nav img {
        width: 30px;
        border-radius: 50%;
        margin-left: -30px;
    }

    & .header-line {
        width: 2px;
        height: 25px;
        background-color: #000;
    }
}

main {

    & .infos {
        position: absolute;
        top: 30%;
        margin-left: 10%;
    }

    & .infos .avaliable {
        display: inline;
        background-color: #FFD800;
        padding: 2px 10px;
        border-radius: 1px;
        font-size: 0.875em;
        font-weight: bold;
    }

    & .infos h1 {
        font-size: 4em;
        font-weight: bold;
        color: #fff;
        margin: 20px 0;
    }

    & .infos .join {
        font-size: 2em;
        font-weight: 200;
        color: #fff;
        margin-bottom: 30px;
    }

    & .infos .buy {
        display: inline;
        background-color: #9BF00B;
        padding: 4px 20px;
        font-weight: 900;
        border-radius: 2px;
        cursor: pointer;
    }

    & .infos .buy img {
        rotate: 270deg;
    }

    .categories {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 30px 0;
    }

    .categories .align {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .categories p {
        color: #107C10;
        font-weight: 600;
    }

    .categories img {
        margin-bottom: 10px;
    }

    .categories .jogos img {
        width: 66px;
    }

    .categories .jogar img {
        width: 35.5px;
    }
}