header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 18px 0;

    & .header-left-nav nav, .header-right-nav nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    & .header-left-nav nav a::after, .header-right-nav nav a:first-child::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 10px;
        margin: 3px 0 0 10px;
        background-image: url(../icons/header/down-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    & .header-right-nav nav .search::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: 0 0 0 10px;
        background-image: url(../icons/header/magnifying-glass.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .header-right-nav nav .buy::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 15px;
        height: 15px;
        margin: 0 0 0 10px;
        background-image: url(../icons/header/buy-car.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .header-right-nav nav img {
        width: 30px;
        border-radius: 50%;
        margin-left: -30px;
    }

    & .header-line {
        width: 2px;
        height: 25px;
        background-color: #000;
    }
}
